@model PasswordManager.Models.Entities.Director

@{
    ViewBag.Title = "Edit";
    ViewBag.SumbitTitle = "Save";
}

<h2>Edit Director - @Model.Name</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.Partial("_DirectorForm", @Model)
}

<div>
    @Html.ActionLink("Back to List", "Index", new { page = 1 }, new { @class = "btn btn-link" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
