@model PasswordManager.Models.DirectorIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Directors</h2>
<h4 class="text-info">(Total Count: @Model.TotalCount )</h4>
<br />

<div class="row">
    @Html.ActionLink("Create a New Director", "Create", null, new { @class = "btn btn-primary" })
</div>
<br />

<div class="row">
    <div class="text-right">
        @using (Html.BeginForm("Index", "Director", new { page = 1 }, FormMethod.Get, new { @class = "form-inline", role = "form" }))
        {
            <div class="form-group">
                <input type="search" name="searchTerm" class="form-control" value="@Model.SearchString" />
            </div>
            <button type="submit" class="btn btn-info"><i class="fa fa-search"></i></button>
        }
    </div>
</div>
<br />

<div class="text-right text-warning">
    @Model.Directors.GetMetaData().TotalItemCount Directors
</div>
@foreach (var item in Model.Directors)
{
    <div class="well well-sm container director-info">
        <div class="row">
            <div class="col-sm-10 director-name">
                <h3>@item.Name</h3>
            </div>
            <div class="col-sm-2">
                <a href="@Url.Action("Edit", "Director", new { id = item.Id })" title="Edit" class="icon-menu"><i class="fa fa-edit"></i></a>
                <a href="@Url.Action("Delete", "Director", new { id = item.Id })" title="Delete" class="icon-menu"><i class="fa fa-trash"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1 text-right">
                <span class="badge">@item.Movies.Count()</span>
            </div>
            <div class="col-sm-10">
                <div class="alert alert-info">@string.Join(", ", item.Movies.OrderBy(m => m.Year).Select(m => string.Format("{0} ({1})", m.Title, m.Year)).ToArray())</div>
            </div>
        </div>
    </div>
}

<div>
    @Html.PagedListPager(Model.Directors, page => Url.Action("Index", new { page }),
        PagedListRenderOptions.Classic)
</div>