@model PasswordManager.Models.Entities.Movie

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Movie</h2>

<h3>Are you sure you want to delete  [@Model.Title by @Model.Director.Name]?</h3>
<hr />

<div>
    <dl class="dl-horizontal">
        <dt>
            Director
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Director.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
    }
</div>

<hr />

<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-link" })
</div>

@section Scripts {
    <script>
        $(function () {
            $("#movie-link").addClass("active");
        });
    </script>
}