@model PasswordManager.Models.MovieIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Movies</h2>
<div class="row">
    <div class="col-sm-6">
        <h4 class="text-info">(Total Count: @Model.TotalCount )</h4>
    </div>
    <div class="col-sm-6 text-right">
        <a href="@Url.Action("Refresh", "Movie", new { page = 1, directorId = 0, sortKey = "title", searchTerm = "" })" title="Refresh" class="btn btn-warning"><i class="fa fa-refresh"></i></a>
    </div>
</div>
<br />

<div class="row">
    <div class="col-sm-6">
        @Html.ActionLink("Create a New Movie", "Create", null, new { @class = "btn btn-primary" })
    </div>
    <div class="col-sm-6 text-right">
        @using (Ajax.BeginForm(
            actionName: "Filter",
            routeValues: null,
            ajaxOptions: new AjaxOptions
            {
                HttpMethod = "get",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "movieList"
            },
            htmlAttributes: new { @class = "form-inline", role = "form" }
            ))
        {
            <div class="form-group">
                <label for="directorId">Director: </label>
                @Html.DropDownList("DirectorId", null, new { @class = "form-control" })
            </div>
            <br /><br />
            <div class="form-group">
                <input type="search" name="searchTerm" class="form-control" value="@Model.SearchString" />
                <button id="filterByCondition" type="submit" class="form-control btn btn-info" title="Search"><i class="fa fa-search"></i></button>
            </div>
        }
   </div>
</div>
<br />

@Html.Partial("_MovieList", Model)

@section Scripts {
@Scripts.Render("~/bundles/jqueryajax")
    <script>

        $(function () {
            $("#movie-link").addClass("active");

            $('#DirectorId').change(function (e) {
                $("#filterByCondition").click();
            });
        });

    </script>
}