<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Password Management</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Styles", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Default", "Home")" title="Home"><i class="fa fa-home fa-2x"></i></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav main-toolbar">
                    <li><a href="@Url.Action("Index", "Home")" title="Passwords List" class="icon-menu"><i class="fa fa-list fa-2x"></i></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown" title="Passwords Admin"><i class="fa fa-lock fa-2x"></i> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Categories", "Index", "Category")</li>
                            <li>@Html.ActionLink("Companies", "Index", "Company", new { page = 1 }, null)</li>
                            <li>@Html.ActionLink("Passwords", "Index", "Password", new { categoryId = 0, page = 1 }, null)</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown" title="Movies"><i class="fa fa-video-camera fa-2x"></i><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Movies", "Index", "Movie", new { page = 1, directorId = 0, sortKey = "title", searchTerm = "" }, null)</li>
                            <li>@Html.ActionLink("Directors", "Index", "Director", new { page = 1 }, null)</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown" title="Art Centres"><i class="fa fa-paint-brush fa-2x"></i><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Art Centres", "Index", "Center", new { province = "All", searchTerm = "" }, null)</li>
                            <li>@Html.ActionLink("Cities", "Index", "City", new { province = "All", page = 1 }, null)</li>
                        </ul>
                    </li>
                    <li><a href="@Url.Action("Index", "Export")" title="Export" class="icon-menu"><i class="fa fa-sign-out fa-2x"></i></a></li>
                    <li><a href="@Url.Action("About", "Home")" title="About" class="icon-menu"><i class="fa fa-info-circle fa-2x"></i></a></li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Password Management by P. Lee</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)
</body>
</html>
