@model PasswordManager.Models.Entities.Category

@{
    ViewBag.Title = "Edit";
    ViewBag.SumbitTitle = "Save";
}

<h2>Edit Category - @Model.Name</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    @Html.Partial("_CategoryForm", @Model)
}

<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-link" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
