@model IEnumerable<PasswordManager.Models.Entities.Category>

@{
    ViewBag.Title = "Categories";
}

<h2>Categories</h2>
<br />

<div class="row">
    @Html.ActionLink("Create a New Category", "Create", null, new { @class= "btn btn-primary" })
</div>

<hr />

<div>
    @foreach (var category in Model)
    {
        <div class="well well-sm category-info">
            <div class="row">
                <div class="col-sm-9 col-sm-offset-1">
                    <h4>@category.Name</h4>
                </div>
                <div class="col-sm-2">
                    <a href="@Url.Action("Edit", "Category", new { id = category.CategoryId })" title="Edit" class="icon-menu"><i class="fa fa-edit"></i></a>
                    <a href="@Url.Action("Delete", "Category", new { id = category.CategoryId })" title="Delete" class="icon-menu"><i class="fa fa-trash"></i></a>
                </div>
            </div> 
            <div class="row">
                <div class="col-sm-8 col-sm-offset-1">
                    <span class="badge pull-left">@category.Companies.Count()</span>
                    <ul>
                    @foreach (var company in category.Companies)
                    {
                        <li>@company.Name - @company.WebAddress</li>
                    }
                    </ul>
                </div>
            </div>
        </div>
    }
</div>
